{{!-- Get navbar from partials --}}
{{> landlord-navbar}}

<!-- main content -->
<div class="right-side">
    <div class="jumbotron">
        <h3 class="display-3">My Properties</h3>
        <hr class="my-2" />
    </div>

    <div class="content">
        <!-- form for maint request -->
        <div class="row">
            <!-- Name and Image URL or upload -->
            <div class="input-field col m6">
                <i class="material-icons prefix">person</i>
                <input placeholder="First and Last Name" id="tenant-name" type="text" class="validate" />
                <label for="name">Name</label>
            </div>
            <!-- grab adddress value here -->
            <div class="input-field col m6">
                <i class="material-icons prefix">home</i>
                <input placeholder="Address" id="prop-address" type="text" class="validate" />
                <label for="image">Property Address</label>
            </div>
        </div>
        <!-- description -->
        <div class="row">
            <div class="input-field col m6">
                <i class="material-icons prefix">description</i>
                <input placeholder="Description" id="prop-description" type="text" data-length="16">
                <label for="input_text">Description</label>
            </div>
            <!-- capacity -->
            <div class="input-field col m6">
                <i class="material-icons prefix">people</i>
                <input placeholder="Payment Amount" id="capacity" type="number" class="validate" />
                <label for="number">Capacity</label>
            </div>
            <!-- Monthly rent -->
            <div class="input-field col m6">
                <i class="material-icons prefix">monetization_on</i>
                <input placeholder="Rent" id="monthly-rent" type="number" class="validate" />
                <label for="number">Montlhly Rent</label>
            </div>
        </div>
        <!-- end description -->
        <div class="row">
            <button id="submitPropteryBtn" class="btn waves-effect waves-light ocean-blue" type="submit" name="action">
                Add Property <i class="material-icons right">home</i>
            </button>
        </div>
        <!-- start cards -->
        <div class="row">
            <!-- Request History -->
            <h5>Current Properties</h5>
            <hr class="my-2" />
            <!-- property cards -->
            {{#each property}}
            <div class="col s3 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="https://cdn.dribbble.com/users/851350/screenshots/4553026/otovo_01_gif_3.gif" />
                        <!-- add imageUrl here  -->
                        <img src="{{this.imageUrl}}" />
                    </div>
                    <div class="card-content property-details">
                        <p>{{this.address}}</p>
                    </div>
                    <div class="card-action"><button href="#property-details-modal" class="btn waves-effect waves-light ocean-blue modal-trigger">Details</button></div>
                </div>
                <!-- Property Details Modal -->
                <div id="property-details-modal" class="modal modal-fixed-footer center-align">
                    <div class="modal-content">
                        <i class="material-icons">home</i>
                        <h5>Property Information</h5>
                        <div class="row">
                            {{!-- <div class="col s6">
                                <h5 id="prop-description">Description</h5>
                                <!-- add maintenance request return object here -->
                                <div>{{this.address}}</div>
                            </div> --}}
                            <div class="col s6">
                                <h5 id="prop-description">Description</h5>
                                <!-- add maintenance request return object here -->
                                <div>{{this.description}}</div>
                            </div>
                            <div class="col s6">
                                <h5 class="prop-capacity">Capacity</h5>
                                <!-- add maintenance request return object here -->
                                <div>{{this.capacity}}</div>
                            </div>
                            <div class="col s6">
                                <h5 class="prop-rent">Monthly Rent</h5>
                                <!-- add maintenance request return object here -->
                                <div>{{this.rent}}</div>
                            </div>
                            <div class="col s6">
                                <h5 class="prop-active">Vacant</h5>
                                <!-- add maintenance request return object here -->
                                {{#if this.lease.0.isactive}}
                                <div>Yes</div>
                                {{else}}
                                <div>No</div>
                                {{/if}}
                            </div>
                            {{!-- <div class="col s6">
                                <h5 class="prop-start-date">Start Date</h5>
                                <!-- add maintenance request return object here -->
                                <div>{{this.startDate}}</div>
                            </div>
                            <div class="col s6">
                                <h5 class="prop-start-date">End Date</h5>›
                                <!-- add maintenance request return object here -->
                                <div>{{this.endDate}}</div>
                            </div> --}}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close btn waves-effect waves-light ocean-blue">Done</a>
                    </div>
                </div>
            </div>
            {{/each}}
            <!-- end property card -->
        </div>
    </div>
</div>