{{!-- navigation bar from partiels --}}
{{> navbar}}

<!-- main content -->
<div class="right-side">
    <div class="jumbotron">
    <h1 class="display-3">Submit Payment</h1>
    <hr class="my-2" />
    </div>

    <div class="content">
    <!-- form for maint request -->
    <div class="row">
        <!-- Name and Image URL or upload -->
        <div class="input-field col m6">
        <i class="material-icons prefix">person</i> 
        <input placeholder="First and Last Name" id="paymentName" type="text" class="validate" />
        <label for="name">Name</label>
        </div>
        <!-- grab adddress value here -->
        <div class="input-field col m6">
        <i class="material-icons prefix">home</i>  
        <input placeholder="Address" id="paymentAddress" type="text" class="validate" />
        <label for="image">Billing Address</label>
        </div>            
    </div>
    <div class="row">
        <div class="input-field col m6">
        <i class="material-icons prefix">payment</i>             
        <input placeholder="Card Number" id="cardNumber" type="text" data-length="16">                
        <label for="input_text">Card Number</label>
        </div>  
    <div class="input-field col m6">
            <i class="material-icons prefix">monetization_on</i> 
            <input placeholder="Payment Amount" id="paymentAmount" type="text" class="validate" />
        <label for="number">Amount</label>
    </div>
    </div>
    <!-- end description -->
    <div class="row">
        <button id="submitPaymentBtn" class="btn waves-effect waves-light ocean-blue" type="submit" name="action">
        Submit <i class="material-icons right">send</i>
        </button>
    </div>

    <!-- end row 3 form -->

    <!-- start cards -->
    <div class="row">
        <!-- Request History -->
        <h5>Payment History</h5>
        <hr class="my-2" />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Property Address</th>
                    <th>Montly Price</th>
                    <th>Due Date</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each payment}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.dueDate}}</td>
                        <td>{{this.paymentStatus}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>           
    </div>
    <!-- end row 4 -->
    </div>
</div>
<!-- end main content right-side-->